# Introduction To Scikit Learn And Machine Learning
Looking at the scikit learn library and its functions

### Section 0 : An End-to-End Scikit-Learn Workflow

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

plt.style.use('seaborn')

In [3]:
# Getting the data ready
heart_disease = pd.read_csv('data/heart-disease.csv')
heart_disease.head(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1

In [4]:
# creating the label and targets for model evaluation 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

In [10]:
# using the randomforest classififier algorithm
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# splitting and fitting the model 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2

In [12]:
# fiting the data to a model 
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1
126,47,1,0,112,204,0,1,143,0,0.1,2,0,2

In [16]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1])

#### Evaluate the model on the training and test data

In [17]:
clf.score(X_train, y_train)

1.0

In [18]:
clf.score(X_test, y_test)

0.819672131147541

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [23]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.74      0.81        31
           1       0.77      0.90      0.83        30

    accuracy                           0.82        61
   macro avg       0.83      0.82      0.82        61
weighted avg       0.83      0.82      0.82        61

In [24]:
confusion_matrix(y_test, y_preds)

array([[23,  8],
       [ 3, 27]])

In [75]:
sklearn.__version__

NameError: name 'sklearn' is not defined

In [25]:
accuracy_score(y_test, y_preds)

0.819672131147541

####  Improve a Model

In [36]:
np.random.seed(42)

for i in range(10, 110, 10):
    print(f'Tring model on {i} estimators...')
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'Test set accuracy {model.score(X_test, y_test):.2f}%')
print(f'Optimun estimator parameter : {model.score(X_test, y_test).max()}')

Tring model on 10 estimators...
Test set accuracy 0.77%
Tring model on 20 estimators...
Test set accuracy 0.79%
Tring model on 30 estimators...
Test set accuracy 0.80%
Tring model on 40 estimators...
Test set accuracy 0.77%
Tring model on 50 estimators...
Test set accuracy 0.79%
Tring model on 60 estimators...
Test set accuracy 0.75%
Tring model on 70 estimators...
Test set accuracy 0.79%
Tring model on 80 estimators...
Test set accuracy 0.77%
Tring model on 90 estimators...
Test set accuracy 0.80%
Tring model on 100 estimators...
Test set accuracy 0.84%
Optimun estimator parameter : 0.8360655737704918

In [71]:
# 6 save a model and load it 
import pickle
data = model
pickle.dump(data, open('data.pkl', 'wb'))

In [74]:
# loading pickle 
model = pickle.load(open('data.pkl', 'rb'))
model.score(X_test, y_test)

0.8360655737704918