In [1]:
import numpy as np

### 1. Datatypes & Attributes

In [2]:
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([
    [1, 2, 3],
    [4, 5, 6.5],
])

a3 = np.array([[
    [1, 2, 3],
    [4, 5, 6],
    [8, 9, 10],
],[
    [11, 12, 13],
    [14, 15, 16],
    [7, 17, 18]
]
])

In [5]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 8,  9, 10]],

       [[11, 12, 13],
        [14, 15, 16],
        [ 7, 17, 18]]])

In [7]:
a3.shape

(2, 3, 3)

In [8]:
#creating a pandas dataframe from a numpy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.5

## 2. Creating arays

In [9]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [10]:
sample_array.dtype

dtype('int64')

In [11]:
ones = np.ones([2, 3])
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [12]:
ones.dtype

dtype('float64')

In [13]:
type(ones)

numpy.ndarray

In [14]:
zeros = np.zeros([2,3])
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [15]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [16]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[1, 4, 4, 8, 1],
       [3, 3, 2, 8, 7],
       [3, 0, 6, 6, 7]])

In [17]:
random_array.size

15

In [18]:
random_array.shape

(3, 5)

In [19]:
rand_array = np.random.random((5, 3))
rand_array

array([[0.5051307 , 0.4890224 , 0.70312128],
       [0.86068192, 0.58637566, 0.43883633],
       [0.56605475, 0.59727693, 0.86159203],
       [0.89077429, 0.31960957, 0.62787312],
       [0.15810877, 0.13246617, 0.89420657]])

In [20]:
rand_array.shape

(5, 3)

In [21]:
rand_array.size

15

In [22]:
rand_array2 = np.random.rand(5, 3)

In [23]:
rand_array2

array([[0.98460411, 0.38713089, 0.07139979],
       [0.90096841, 0.32689516, 0.0802953 ],
       [0.19785475, 0.9113631 , 0.21810604],
       [0.55345838, 0.56239148, 0.98050512],
       [0.91011748, 0.57275181, 0.5645763 ]])

## 3. Random Seed

#### Seed is used to produce psuedo-random number

In [24]:
np.random.seed(seed=0)
rand_array4 = np.random.randint(10, size=(5, 3))
rand_array4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [25]:
rand_array4.shape

(5, 3)

## 4. Viewing Arrays and Matrices

In [26]:
np.unique(rand_array4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Dot product exercise (nut butter sales)

In [31]:
np.random.seed(0)
sales_amount = np.random.randint(20, size=(5,3))
sales_amount

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [41]:
weekly_sales = pd.DataFrame(sales_amount, index=['Mon', 'Tue', 'Wed', 'Thurs', 'Fri'],
                            columns=['Almond Butter', 'Peanut Butter', 'Cashew Buuter'])
weekly_sales

       Almond Butter  Peanut Butter  Cashew Buuter
Mon               12             15              0
Tue                3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [42]:
weekly_sales['Prices'] = 10
weekly_sales

       Almond Butter  Peanut Butter  Cashew Buuter  Prices
Mon               12             15              0      10
Tue                3              3              7      10
Wed                9             19             18      10
Thurs              4              6             12      10
Fri                1              6              7      10